body {
    margin: 0;
    background: linear-gradient(to right, #8a8989, #ffffff);
}

header {
    font-size: max(2rem, 4vw);
    text-align: center;
    font-weight: bold;
}

nav {
    display: flex;
    background-color: #969696;
    position: relative;
    top: 0;
    width: 100%;
    filter: drop-shadow(0px 15px 10px black);
    border-radius: 6px;
    z-index: 7777;
    flex-direction: row;
    /* justify-content:; */

    gap: 40px;
    margin-bottom: 50px;
}

nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #cacaca;
    transition: background-color 0.3s, filter 0.5s;
    border-radius: 10px/14px;
    margin-right: 5px;

}

nav a.active {
    background-color: #b3b3b3;
}

nav a:not(.active):hover {
    filter: drop-shadow(5px 5px 5px black);
    background-color: #aaaaaa;
}

.select {
    width: fit-content;
    display: block;
    margin: auto;
    border: 2px black solid;
    border-radius: 6px;
    font-size: 20px;
    transition: 0.3s;
}

.select:hover {
    filter: drop-shadow(3px 5px 3px #000000da);
    border-radius: 8px;
}

.select:focus {
    outline: none;
    border-radius: 10px;
}


.numbers {
    field-sizing: content;
    min-width: 20%;
    max-width: 100%;
    display: block;
    margin: auto;
    background-color: #f0f0f0;
    color: black;
    border: rgb(92, 92, 117) solid 2px;
    border-radius: 10px;
    padding: 3px 5px;
    font-size: 16px;
    transition: 0.3s;
}

.numbers:focus {
    outline: none;
    border: #a2a2b8 solid 2px;
    filter: drop-shadow(3px 5px 3px #000000da);
}

h2 {
    text-align: center;
}

.submit {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    display: block;
    font-weight: 900;
    background-color: #ebebeb;
    border: rgb(43, 43, 43) solid 2px;
    border-radius: 10px;
    padding: 1px 5px;
    transition: 0.3s;
}

.submit:hover {
    transform: translateY(-4px);
    filter: drop-shadow(3px 5px 3px #000000da);
    cursor: pointer;
}

.submit:active {
    transform: translateY(0px);
    filter: drop-shadow(0px 0px 0px #000000da);
}

.math {
    font-size: 20px;
    color: #3e3e3e;
    width: fit-content;
    margin: auto auto 40px auto;
    padding: 3px 5px;
    border: gray 2px solid;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    background-image: url('paper.jpeg');
    font-family: "Lucida Console", "Courier New", monospace;
}

.math *:not(span) {
    border: 3px double gray;
    text-align: center;
    border-radius: 10px/16px;
    padding: 0px 4px;
}

.math tr:nth-child(even) {
    background-color: #b3b3b30e;
}

@media screen and (max-width:600px) {
    nav {
        flex-direction: column;
        gap: 0;
    }
}